
#search
  = render :partial => 'users/search'

%h1 All Users


= will_paginate
%ul.users
  -@users.each do |user|
    %li
      -if user.avatar
        =image_tag("/"+user.avatar, :class => "gravatar")
      -if !user.avatar
        =image_tag("/mysteryman.jpg", :class => "gravatars")
      = link_to user.name, user
      %p= raw user.profile_statement

= will_paginate
	