
%table.table.table-hover
  %thead
    %tr
      %th From:
      %th From Account:
      %th To:
      %th To Account:
      %th Amount:
      %th Status
  %tbody 
  - @all_transfers.each do |transfer|
    %tr
      %td= User.find(transfer.user_id).name
      %td= transfer.from
      %td= User.find(transfer.to_user_id).name
      %td= transfer.to
      %td= number_to_currency(transfer.amount)
      %td 
        %span.label.label-success Success
