.add-account
  = form_for(@new_transfer) do |f| 
    = render 'shared/error_messages', object: f.object
    .field-transfer
      %h2 Transfer Money Now!: 
      %h4= 'Just select your account, select a recipient and enter an amount.' 
      %br
      
      = f.label "Which account do you want to transfer from:"
      = f.collection_select(:from, current_user.bankaccounts, :account_number, :account_balance, { :prompt => "Choose Account..." }, { "style" => "width:400px" })
      = f.label "Recipient:"
      = f.collection_select(:to_user_id, User.find(:all), :id, :name, { :prompt => "Choose Recipient..." }, { "style" => "width:400px" })

      = f.label "Amount"
      = f.text_field(:amount)
      
     
      = f.submit "Transfer", class: "btn btn-large btn-primary"
